.center
{
	margin: auto;
	width: 95%;
}

.table-text-center
{
	text-align: center;
}

body
{
	background-color:#444444;
}

.body
{
	position : absolute;
	background-color:#000000;
	
	left: 25px;
	right: 15px;
	z-index: -1;
	
	height: 100%;
	
	top: 60px;
	
	font: 20px Impact, fantasy;
	font-variant: small-caps;
	font-style: oblique;
	
	background-color: #FFFFFF;
}

footer
{
	position: fixed;
	bottom:0px;
	width: 100%;
	z-index:4;
	color: #FFFFFF;
	padding-top: 10px;
	box-shadow: -10px 0px 10px #333333;
	background-color: #444444;
}

.header-div
{
	font: 20px Impact, fantasy;
	font-stretch: condensed;
			
	position: fixed; 
	background-color: rgba(28,181,223,1.0); 
	height: 100%;
	line-height: 70px;
	box-shadow: 5px 5px 20px #000000; 
	width: 1vw;
	border-bottom: 0px solid rgb(128,0,0);
	border-top: 0px solid rgb(128,0,0);
	z-index: 3;	
}

#navigation
{
	position: fixed;
	width: 10px;
	height: 120%;
	
	top: 60px;
	
	font: 20px Impact, fantasy;
	font-variant: small-caps;
	font-style: oblique;
	
	background-color: rgba(28,131,173,0.8);
	border: 0px;
	border-radius: 0px;
	border-bottom: 0px solid rgb(128,0,0);
	box-shadow: 0px 10px 20px #111111;
	
	z-index: 4;
}

.navigation-element
{
	visibility: hidden;
	color: #FFFFFF;
	padding-left: 10px;
	padding-top: 10px;
}

.navigation-element:hover
{
	color: #AAAAAA;	
}

.navbar-color
{
	color: #FFFFFF;
}

.navbar-button
{
	background-color: rgba(28,131,173,0.8);
}

.Underline
{
	position: fixed;
	width: 100%;
	font: 35px Impact, fantasy;
	font-variant: small-caps;
	font-style: oblique;
	//font-weight: bold;

	z-index: 1;
	
	text-decoration: underline;
	
	height: 60px;
	line-height: 55px;
	color: #FFC706;
	
	border-bottom: 0px solid rgb(228,228,228);
	
	//border: 2px solid rgba(28,131,173,0.8);
	
	box-shadow: 0px 2px 10px #222222;
	
	//background: rgba(28,201,243,0.8);
	background: rgba(28,181,223,0.99);
	
	padding-left: 10px;
	padding-bottom: 10px;
}

.Underline-Text
{
	color: #FFFFFF;
	text-decoration: none;
}

.error-font
{
	font: bold small-caps 18px/50px Calibri, sans-serif;
}

.myprofile
{
	font: bold normal 18px/50px Calibri, sans-serif;
	color: #666666;
	
	margin: auto;
	width: 80%;
}

.select-menu
{
	-webkit-appearance: none;
   	-moz-appearance: none;
   	appearance: none;
   	-webkit-border-radius: 5px;
   	outline: 1px solid #CCCCCC;
   	border: 0px solid #000000;
   	border-radius: 5px;
   
}

.center_img
{
	margin: auto;
	border: 0px solid #73AD21;
	
}

textarea
{
	resize: none;
}

button
{
	outline: none;
}

.profile-img
{
    max-width:50%;
}